.ModalBody {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  animation: Opacity 0.5s forwards;

  .ModalContainer {
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--blue);
    border-radius: 30px;
    padding: 1rem;

    img {
      border-radius: 30px;
      min-height: 500px;
    }
    span {
      color: var(--pink);
      font-family: Unbutu Mono, sans-serif;
      font-weight: 600;
      margin-left: 0.3rem;
      font-size: 1.2rem;
    }
    h3 {
      color: var(--black);
      font-family: Unbutu Mono, sans-serif;
      font-weight: 300;
      margin-left: 0.3rem;
      font-size: 1.3rem;
    }
    p {
      font-weight: 400 !important;
      margin-left: 1rem;
      margin-top: 1rem;
      text-transform: none !important;
      font-size: 1rem;
    }
  }
  .Close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 10;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--pink);
    transition: all 0.5s ease-in-out;
    outline: none;
    border-style: none;
    cursor: pointer;

    &:hover {
      background-color: var(--purple-800);
      font-size: 1.5rem;
      outline: none;
    }
    a {
      text-decoration: none;
      color: var(--white);
      cursor: pointer;
    }
  }
  .Download {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid var(--pink);
    font-size: 1.5rem;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--purple-800);
    }

    a {
      text-decoration: none;
      color: var(--white);
    }
  }
}
@media (max-width: 768px) {
  .ModalBody {
    .ModalContainer {
      justify-content: space-between;
      align-items: center;
      img {
        min-height: 400px;
      }
      span {
        font-size: 0.8rem;
      }
    }

    .Download {
      position: relative;
      width: 90%;
      right: 0;
      bottom: 0;
    }
  }
}
@keyframes Opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
