* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #212226;

  --pink: #fe7bbf;
  --blue: #313866;

  --purple-300: #974ec3;
  --purple-800: #504099;
}

body {
  background-color: var(--black);
}
h2 {
  color: var(--white);
  font-family: Unbutu, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p,
span {
  color: var(--white);
  font-family: Unbutu Mono, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
