.HomePage {
  width: 100%;
  display: flex;
  justify-content: center;

  .allImages {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 2rem 0;
    grid-gap: 1rem;
    justify-items: center;
    animation: Opacity 0.5s forwards;
  }
  .ContainerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
    background-color: var(--pink);
    border-radius: 20px;

    img {
      border-radius: 100px;
      width: 200px !important;
      opacity: 0.7;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
        border-radius: 50px;
      }
    }
    p {
      margin-top: 10px;
      color: var(--blue);
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 768px) {
  .HomePage {
    .allImages {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    .ContainerImage {
      height: 250px;

      img {
        width: 160px;
      }
    }
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
