.HeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 2rem 4rem;
  background-color: var(--black);
  border-bottom: 1px solid var(--pink);

  img {
    width: 150px;
    height: 30px;
    margin-right: 3rem;
  }
  p {
    font-size: 1rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--pink);
  }
  a {
    text-decoration: none;
  }
  span {
    font-size: 1rem;
    margin-left: auto;
  }
}

@media (max-width: 580px) {
  .HeaderContainer {
    padding: 0.5rem 1rem;
    span {
      display: none;
    }
    p {
      margin-left: auto;
      border-left: 0;
    }
  }
}
